body {
    background-color: #050d18;
    margin: 0;
    padding: 0;
}

.hero-section {
    min-height: 100vh;
    background: radial-gradient(circle at center, #0a192f 0%, #050d18 100%);
    padding-top: 80px;
}


.social-links a {
    text-decoration: none;
    transition: 0.3s;
}

.social-links a:hover {
    color: #ffc107 !important;
}


.navbar {
    border-bottom: 1px solid aliceblue;
}


.bg-black {
    background-color: #02050a !important;
}